<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link type="module" rel="preload" href="./components/index.html" as="fetch" crossorigin/>
	<script src="../src/js/1px.js"></script>
</head>
<body>


<template *if="">
	<div>
		asdjasldsajdjsa
	</div>
</template>


<!--<web-component name="my-item">-->
<!--<template>-->
<!--<h1>asdfkjls</h1>-->
<!--<div>akdfjlsf</div>-->
<!--<div>{{ title }}</div>-->
<!--<p>-->
<!--<content></content>-->
<!--</p>-->
<!--</template>-->
<!--</web-component>-->


<!--<web-component name="my-app">-->
<!--<template>-->
<!--<h1>{{ title }}</h1>-->
<!--<h2>{{ title }}</h2>-->
<!--<h3>{{ title }}</h3>-->

<!--<h2>{{ title2 }}</h2>-->

<!--<p>{{ title + title2 }}</p>-->

<!--<p>{{ c$ }}</p>-->

<!--<ul>-->
<!--<my-item *repeat="arr as a, index" [title]="a">hello~~ {{ a }} {{ index }}</my-item>-->
<!--</ul>-->
<!--</template>-->
<!--</web-component>-->


<my-card></my-card>

<my-app id="a"></my-app>


<script type="module">
console.log("!module");
</script>


<script>
console.log("!");

document.addEventListener("DOMContentLoaded", function() {

	console.log("loaded!!");
})
</script>


</body>
</html>